{{posted_stuff}}<br/>

<div class="p-5 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
    	
    	<h1 class="display-5 fw-bold">
    	{{ stock.companyName }}
    	</h1>

        <p class="col-md-8 fs-4">
        <strong>Latest Price: </strong>{{ stock.latestPrice }}<br/>
		<strong>Previous Close: </strong>${{ stock.previousClose }}<br/>
		<strong>Percent Change: </strong>{{ stock.changePercent }}%<br/>
		<strong>Market Cap: </strong>${{ stock.marketCap }}<br/>
		<strong>YTD Change: </strong>{{ stock.ytdChange }}%<br/>
		<strong>52wk High: </strong>{{ stock.week52High }}<br/>
		<strong>52wk Low: </strong>{{ stock.week52Low }}<br/>
		</p>        
    </div>
 </div>


{{! This allows you to access the json object and pick the value providing the key }}
<h1>{{ stock.companyName }} ({{stock.symbol}})</h1>
<br/>
<strong>Latest Price: </strong>{{ stock.latestPrice }}<br/>
<strong>Previous Close: </strong>${{ stock.previousClose }}<br/>
<strong>Percent Change: </strong>{{ stock.changePercent }}%<br/>
<strong>Market Cap: </strong>${{ stock.marketCap }}<br/>
<strong>YTD Change: </strong>{{ stock.ytdChange }}%<br/>
<strong>52wk High: </strong>{{ stock.week52High }}<br/>
<strong>52wk Low: </strong>{{ stock.week52Low }}<br/>



<!--
<br/><br/>
{{!-- This is handlebars syntax for a "for each" loop through the json object to output each key:value pair --}}
{{#each stock}}
	{{ @key }} | {{ this }}<br/>
{{/each}}

{{!-- This is a comment in handlebars --}}
-->